/* --- General styles --- */

* {
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
    height: 100%;
}

h1 {
    font-size: 22px;
    padding-right: 200px;
    color: #484848;
}

h2 {
    font-size: 20px;
    color: #484848;
}

li {
    color: #676767;
}

button {
    border: none;
    background-color: transparent;
}

input {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    height: 93.5%;
}


/* --- Header styles --- */

.google-cal-logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

header {
    padding: 20px 40px;
    display: flex;
    line-height: 32px;
    font-size: 22px;
    color: #676767;
    border-bottom: 1px solid #d1cfcf;
    height: 6.5%;
    
}

.today {
    margin-left: -120px;
    margin-right: 30px;
    border-radius: 4px;
    color: #3C4043;
    font-size: 14px;
    width: 65px;
    height: 36px;
    letter-spacing: 0.8px;
    border: 1px solid #dad8d8;
}

.today:hover {
    cursor: pointer;
    background-color: #faf7f7;
}

.today:active {
    background-color: #dad8d8;
    transition: all 0.1s ease-out;
} 

.icons {
    padding: 0 15px;
    display: flex;
}

.date-reg-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    font-size: 20px;
    color: #676767;
}

.date-reg-icon:hover {
    background-color: #faf7f7;
    border-radius: 50%;;
}

.date-reg-icon:active {
    background-color: #dad8d8;
    transition: all 0.1s ease-out;
} 


/* --- Side bar styles --- */

.side-bar {
    width: 20%;
    height: 100%;
}

.side-calendar-header {
    margin-top: 100px;
    width: 90%;
    display: flex;
    padding: 20px 20px 0 40px;
    justify-content: space-between;
}

.side-calendar-header .current-date {
    font-size: 14px;
    font-weight: 500;
}

.side-calendar-header .date-reg-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    line-height: 25px;
    font-size: 15px;
}

.side-calendar-header .icons {
    padding: 0 7px;
}

.side-bar-calendar {
    padding: 20px;
}

.side-bar-calendar ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.side-bar-calendar li {
    width: calc(90% / 7);
    margin-bottom: 10px;
    font-size: 11px;
}

.side-bar-calendar .month-cal-weeks li {
    color: #989797;
}

.side-bar-calendar .month-cal-days .active {
    color: #fff;
}

.side-bar-calendar .month-cal-days li {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.side-bar-calendar .month-cal-days li::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.side-bar-calendar .month-cal-days li:hover::before {
    background-color: #f0eded;
}

.side-bar-calendar .inactive {
    color: #d1cfcf;
}

.side-bar-calendar .active::before {
    background-color: #1A73E8;
}

.side-bar-calendar li.active:hover::before {
    background-color: #185cb6;
}


/* --- Week view --- */

.main-part {
    width: 100%;
    position: relative;
    right: 40px;
    height: 100%;
    overflow: auto;
}

.cal-hours {
    display: inline-flex;
    flex-direction: column;
    margin-left: 7%;
}

.cal-hours .hour {
    text-align: left;
    height: 70px;
    padding: 0;

}

.week-view {
    position: sticky;
    top: 0;
    display: inline-block;
    width: 87.5%;
}

.week-view-header {
    position: sticky;
    padding-top: 30px;
    margin-bottom: 20px;
    top: 0;
    background-color: #fff;
    height: 100px;
}

.week-view ul{
    display: flex;
    text-align: center;
  }


.week-view li {
    width: calc(100% / 7);
    padding: 5px;
}

/* .weekday {
    position: sticky;
    top: 0;
} */

.weekday li {
    text-transform: uppercase;
    font-size: 14px;
}

.weekday li.active {
    color: #1A73E8;
}


/* .day-of-the-month {
    position: sticky;
    top: 0;
} */


.day-of-the-month .active {
    color: #fff;
}

.day-of-the-month li {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.day-of-the-month li::before {
    content: "";
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.day-of-the-month li:hover::before {
    background-color: #f0eded;
}

.day-of-the-month li.active::before {
    background-color: #1A73E8;
}

.day-of-the-month li.active:hover::before {
    background-color: #185cb6;
}

.day-of-the-month li {
    font-size: 25px;
}


.by-the-hour {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, 70px);

}

.cell {
    border-right: 1px solid #eceaea;
    border-bottom : 1px solid #eceaea;
}

.hour {
    padding: 30px 5px 0;
    font-size: 12px;
    color: #676767;
    text-align: right;
}

/* --- Event creation --- */


.event-creation {
    position: absolute;
    width: 45%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 20px 40px #8f8e8e;
    background-color: #fff;
    top: 30%;
    right: 30%;
    display: block;
}

.event-create-header {
    background-color: #f0efef;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-btn {
    display: block;
    position: relative;
    margin-right: 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
}

.delete-icon {
    margin-top: 3px;
}

.delete-btn:hover {
    background-color: #e8e4e4;
}

.delete-btn:active {
    background-color: #c2c1c1;
    transition: background-color 0.1s linear;
}

.delete-btn::after {
    position: absolute;
    left: 0;
    bottom: -95%;
    content: "Delete event";
    background-color: #464545;
    color: #eaeaea;
    font-weight: 400;
    font-size: 11px;
    width: 80px;
    border-radius: 4px;
    padding: 5px;
    display: none;
    letter-spacing: 0.8px;
}

.delete-btn:hover::after {
    display: block;
}


.exit-event-modal {
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
    color: #767373;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.exit-event-modal:hover {
    background-color: #e8e4e4;
}

.exit-event-modal:active {
    background-color: #c2c1c1;
    transition: background-color 0.1s linear;
}

.exit-event-modal::after {
    position: absolute;
    left: 0;
    bottom: -95%;
    content: "Close";
    background-color: #464545;
    color: #eaeaea;
    font-weight: 400;
    font-size: 11px;
    border-radius: 4px;
    padding: 5px;
    display: none;
    letter-spacing: 0.8px;
}

.exit-event-modal:hover::after {
    display: block;
}

.event-info {
    padding: 30px;
 }

.event-title {
    display: block;
    border: none;
    width: 100%;
    font-size: 25px;
    height: 50px;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 20px;
    color: #4f4f4f;
}

.event-title:focus {
    transition: 0.1s linear;
    border-bottom: 2px solid #1A73E8;
    outline: none;
}

.event-date {
    border: none;
    font-size: 16px;
    color: #484848;
    width: 112px;
    margin-right: 20px;
}

input[type=time] {
    text-align: center;
    border: none;
    color: #2a2c2d;
    font-size: 16px;
    width: 70px;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    margin-left: 0;
}


.event-create-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    text-align: end;
}

.save-event-btn {
    background-color: #1A73E8;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.6px;
    font-weight: 500;
    color: #f0f0f0;
    padding: 10px 20px;
    margin-right: 2%;
    border-radius: 4px;
    cursor: pointer;
}

.save-event-btn:hover {
    background-color: #1f68c7;
}

.save-event-btn:active {
    background-color: #185cb6;
    transition: background-color 0.1s linear;
}

.created-event {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #35adf3;
    color: #fff;
    font-weight: 450;
    padding: 4px 8px;
    border-radius: 4px;
    overflow: hidden;
    cursor: grab;
    width: 90%;
    height: 50%;
    box-shadow: 1px 1px 5px #484848;
}